.COLOR {
  cursor: pointer;
  border: 0.2rem solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 9.2rem;
  min-height: 9.2rem;
  margin: 0.5rem;
  padding: 1rem; }

/* LOCK */
.locked {
  background: #353535;
  border-radius: 0.4rem; }

.CUT_DIAMOND {
  min-width: 8rem;
  min-height: 8rem;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 30%, 50% 100%, 0% 30%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 30%, 50% 100%, 0% 30%); }

.DIAMOND {
  min-width: 8rem;
  min-height: 8rem;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }

.HEXAGON {
  min-width: 8rem;
  min-height: 8rem;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

.TRIANGLE {
  min-width: 8rem;
  min-height: 8rem;
  -webkit-clip-path: polygon(50% 0%, 0% 80%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.OCTAGON {
  min-width: 8rem;
  min-height: 8rem;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); }
