@font-face {
  font-family: "busorama";
  src:url("fonts/busorama.ttf");
  src:
    url("fonts/busorama.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$generator-color-light: rgb(98, 58, 178);
$generator-color-dark: rgb(18, 22, 49);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

*, *::after, *::before {
  box-sizing: border-box;
  font-family: inherit;
  user-select: none; 
  margin: 0;
  padding: 0;
}

a, button {
  cursor: pointer;
  outline: none;
  letter-spacing: 0.1rem;
}

body {
  margin: 0;
  padding: 0;  
  background-color: #333;
  font-family: 'busorama', sans-serif;
  font-size: 20px;
}

/** TITLE **/

.header { 
  display: flex;
  position: relative;
  height: 4rem;
  &-title {
    cursor: default;
    font-family: 'busorama', 'serif';
    font-weight: 500;
    font-size: 1.5rem;
    &-svg {
      margin: 1rem 0;
      width: 100%;
      height: 8rem;
      path { fill: transparent; }
      text {
        fill: url(#titleGradient) rgb(230, 100, 101);
        stroke: rgba(150, 49, 131, 0.8);
        stroke-width: 0.025rem;
      }
    }
  }
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 100%;
  &__board {
    order: 1;
    border: 0.5rem ridge gold;
    background: #31312A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 8rem;
    width: 100%;
    max-width: calc(100% - 12rem);
    transition: all 0.25s ease-in;
    &--palette {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
    }
  }
}

.tool-bar {
  border: 0.4rem inset #2163A3;
  background: linear-gradient(-45deg,#58a4f0, #2163A3, #58a4f0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 4rem;
  width: 12rem;
  transition: all 0.25s ease-in;
}

.selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__palettes {
    display: flex;
    background: #1A5288;
    border-radius: 0.4rem;
    border-color: #2163A3;
    border-width: 0.4rem;
    border-style: ridge groove groove ridge;
    flex-direction: column;
    list-style: none;
    overflow-y: scroll;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 0;
    min-height: 8rem;
    max-height: 14rem;
    min-width: fit-content;
    width: 100%;
    max-width: 9.5rem;
  }
  &__dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: fit-content;
    width: 100%;
    max-width: 10rem;
    margin: 1rem auto;
    a:hover {
      background-color: #73b3f3;
    }
    &--content {
      display: none;
      background-color: #ddd;
      border-radius: 0.5rem;
      box-shadow: 0px 8px 16px 0px rgba($color-black,0.4);
      overflow: auto;
      position: absolute;
      top: 2.5rem;
      width: 100%;
      min-width: 6rem;
      z-index: 1;
      a {
        color: $color-black;
        display: block;
        font-size: 80%;
        padding: 0.8rem 1rem;
        text-decoration: none;
      }
    }
    &--drop_btn {
      color: $color-white;
      background: rgb(55, 155, 223);
      border: 0.2rem outset #2163A3;
      border-radius: 0.5rem;
      align-self: center;
      text-align: center;
      text-transform: uppercase;
      font-size: 55%;
      height: 2.5rem;
      width: 90%;
      &:hover, 
      &:focus {
        background-color: #2980B9;
      }
    }
  }
}

.save-palette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  &__input {
    color: #694ba4;
    border-radius: 0.2rem;
    box-shadow: inset 0.08rem 0.08rem 0.4rem rgba(42, 46, 52, 0.517);
    border: none;
    font-size: 70%;
    padding-left: 0.5rem;
    outline-color: #689debd3;
    height: 1.65rem;
    min-width: 4rem;
    width: 100%;
    max-width: 9.5rem;
    margin: 0 auto;
  }
  &__textbox {
    color: $color-white;
    background: rgb(34, 128, 178);
    border-color: #2163A3;
    border-width: 0.2rem;
    border-style: ridge groove groove ridge;
    border-radius: 0.5rem;
    box-shadow: 
      inset -0.2rem -0.2rem 1rem 0.01rem rgba(2, 15, 38, 0.516),
      inset 0.2rem 0.2rem 1rem 0.01rem rgba($color-black, 0.251);
    align-self: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.1rem auto;
    font-size: 70%;
    width: 88%;
    max-width: 10rem;
    height: 2rem;
    &:active {
      color: rgb(189, 186, 181);
      background: rgb(27, 95, 131);
      box-shadow: 
        inset -0.2rem -0.2rem 1rem 0.01rem rgba(2, 15, 38, 0.116),
        inset 0.2rem 0.2rem 1rem 0.01rem rgba($color-black, 0.151);
    }
    &:hover {
      background: rgb(22, 77, 107);
    }
  }
}

/** BIG BUTTON! **/

.jewel-generator { 
  background: radial-gradient(
    farthest-corner at 40px 35px, 
    rgba($color-white, 0.664) 1%, 
    $generator-color-dark 30%, 
    $generator-color-dark 70%);
  border-width: 0.4rem;
  border-color: gold;
  border-width: 0.7rem;
  border-style: ridge groove groove ridge;
  border-radius: 100%;
  box-shadow: 
    inset -0.5rem -0.5rem 2rem 0.1rem rgba($generator-color-light, 1),
    inset 0rem 0rem 2rem 0.2rem rgba($generator-color-dark, 1);
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  margin: 0.1rem auto;
  width: 9rem;
  height: 9rem;
  transition: all 0.4s;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-color: #2163A3;
    border-width: 0.5rem;
    border-style: ridge groove groove ridge;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    // add transition effect
  }
  &:hover &--text {
    color: $color-white;
  }
  &:active {
    background: $generator-color-light;
    box-shadow: 
      inset -0.5rem -0.5rem 1rem 0.01rem rgba($generator-color-dark, 1),
      inset 0.5rem 0.5rem 1rem 0.01rem rgba($color-white, 0.5);
  }
  &:active &--text {
    color: rgb(124, 124, 124);
  }
  &--text {
    color: rgb(219, 218, 218);
    font-size: 120%;
    z-index: 1;
  }
}

.show {
  display: block;
  z-index: 10;
}

/** MEDIUM BUTTONS **/

.btn {
  &__textbox {
    color: $color-white;
    background: rgb(34, 128, 178);
    border-color: rgb(33, 99, 163);
    border-width: 0.25rem;
    border-style: ridge groove groove ridge;
    border-radius: 0.5rem;
    box-shadow: 
      inset -0.2rem -0.2rem 1rem 0.01rem rgba(2, 15, 38, 0.516),
      inset 0.2rem 0.2rem 1rem 0.01rem rgba($color-black, 0.251);
    align-self: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.1rem auto;
    font-size: 70%;
    min-width: 9rem;
    width: 88%;
    max-width: 10rem;
    height: 2rem;
    padding: 0.5rem;
    &:active {
      color: rgb(189, 186, 181);
      background: rgb(27, 95, 131);
      box-shadow: 
        inset -0.2rem -0.2rem 1rem 0.01rem rgba(2, 15, 38, 0.116),
        inset 0.2rem 0.2rem 1rem 0.01rem rgba($color-black, 0.151);
    }
    &:hover {
      background: rgb(22, 77, 107);
    }
  }
}

/** PROJECTS SECTION **/

.projects {
  min-height: 10rem;
  margin: 0 auto;
  &__container {
    background: #1f1f1f;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 10rem;
    margin: 0.5rem 0 0 0;
  }
  &__header {
    background: #1f1f1f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    padding: 0 1rem;
    height: 6rem;
    width: 100%;
    &--title {
      // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 180%;
      color: rgb(239, 234, 250);
      margin: 0.5rem 0;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    max-width: 100%;
    &--input {
      color: rgb(105, 75, 164);
      border-radius: 0.1rem;
      box-shadow: inset 0.08rem 0.08rem 0.4rem rgba(42, 46, 52, 0.517);
      border: none;
      // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 80%;
      padding-left: 0.5rem;
      outline-color: rgba(115, 52, 240, 0.337);
      height: 1.65rem;
      min-width: 10rem;
      width: 100%;
      max-width: 8rem;
      margin: 0 0.5rem;
    }
    // &--btn--add {
    //   cursor: pointer;
    //   color: $color-white;
    //   background: rgb(16, 187, 16);
    //   border: none;
    //   border-radius: 0.1rem;
    //   box-shadow: 0.05rem 0.05rem 0.4rem rgba(122, 126, 131, 0.817);
    //   font-size: 100%;
    //   height: 1.6rem;
    //   width: 88%;
    //   max-width: 10rem;
    //   margin: 0 0 0 0.25rem;
    //   padding: 0.1rem;
    //   &:hover {
    //     background: rgb(106, 215, 106);
    //   }
    //   &:active {
    //     color: gainsboro;
    //     box-shadow: none;
    //   }
    // }
  }
}

.palette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 2.4rem;
  width: fit-content;
  margin: 0.1rem auto;
  &--name {
    color: $color-white;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90%;
    text-align: center;
    align-self: flex-start;
    
    padding: 0.1rem;
  }
  &--gems {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
  }
  &--trash {
    cursor: pointer;
    margin: 0 0 0 0.8rem;
  }
  &--saved {
    max-height: 1rem;
    max-width: 1rem;  
    min-height: 1rem;
    min-width: 1rem;
    margin: 0.1rem;
  }
}

.project__saved {
  background: rgb(31, 31, 31);
  border: 0.1rem solid rgba(210, 105, 30, 0.283);
  border-radius: 0.2rem;
  padding: 0.1rem;
  height: auto;
  width: 10rem;
  margin: 0.5rem;
  &--title {
    cursor: pointer;
    background: $color-white;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.1rem 0.5rem rgb(175, 238, 238);
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 90%;
    text-align: center;
    padding: 0.5rem;
    width: 96%;
    margin: 0 auto;
    &:hover {
      background: $color-white;
    }
    &:active {
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 620px) {
  .game__board--palette {
    div {
      min-height: 5.5rem;
      min-width: 5.5rem;  
    }
    .gem-color > div { 
      max-height: 4.5rem;
      max-width: 4.5rem;  
      min-height: 4.5rem;
      min-width: 4.5rem;
    }
  }
}

@media only screen and (max-width: 420px) {
  .game__board--palette {
    div {
      min-height: 4rem;
      min-width: 4rem;  
    }
    .gem-color > div { 
      max-height: 3.5rem;
      max-width: 3.5rem;  
      min-height: 3.5rem;
      min-width: 3.5rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  .tool-bar {
    order: 2;
    width: 100%;
    .selected {
      order: 2;
    }
  }
  .game__board--palette {
    div {
      min-height: 2.5rem;
      min-width: 2.5rem;  
    }
    .gem-color > div { 
      max-height: 2.5rem;
      max-width: 2.5rem;  
      min-height: 2.5rem;
      min-width: 2.5rem;
    }
  }
  .game__board {
    max-width: 100%;
    margin: 0;
  }
}

